<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <img src="/icons/logo.svg" alt="Logo">
      <span>{{ companyName }}</span>
    </div>

    <nav class="header__navigation">
      <ul class="header__list">
        <li><a>Главная</a></li>
        <li><a>Про гида</a></li>
        <li><a>Программа тура</a></li>
        <li><a>Стоимость</a></li>
        <li><a>Блог</a></li>
        <li><a>Контакты</a></li>
      </ul>
    </nav>

    <div>
      <a class="header__button" href="">Консультация</a>
    </div>
  </div>
</header>

<main>
  <section class="hero">
    <div class="hero__container">
      <h1 class="hero__title">Насладись прогулкой в горах <br> с командой единомышленников</h1>
      <form class="hero__search-form search-form" action="">
        <div class="search-form__field">
          <select name="location" id="location">
            <option value="" selected disabled hidden>Локация для тура</option>
          </select>
          <label for="location">выберите из списка</label>
        </div>
        <div class="search-form__field">
          <select class="formkit-date" name="hikeDate" id="hikeDate">
            <option value="" selected disabled hidden>Дата похода</option>
          </select>
          <label for="hikeDate">укажите дату</label>
        </div>
        <div class="search-form__field">
          <select name="participants" id="participants">
            <option value="" selected disabled hidden>Участники</option>
          </select>
          <label for="participants">выберите из списка</label>
        </div>
        <button class="search-form__button" type="submit">Найти программу</button>
      </form>
    </div>
  </section>
</main>